###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @georgi-l95 @isavov @Ivo-Yankov @natanasow @konstantinabl @Ivo-Yankov @victor-yanev

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                               @hashgraph/platform-ci @hashgraph/release-engineering-managers
/.github/workflows/                                     @hashgraph/platform-ci @hashgraph/platform-ci-committers

# Legacy Maven project files
**/pom.xml                                              @hashgraph/platform-ci

# Cmake project files and inline plugins
**/.clang*                                              @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/hedera-sdk
**/.clang-format                                        @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/hedera-sdk
**/.clang-tidy                                          @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/hedera-sdk
**/CMakeLists.txt                                       @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/hedera-sdk
**/CMakePresets.json                                    @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/hedera-sdk

# Codacy Tool Configurations
/config/                                                @hashgraph/platform-ci @hashgraph/release-engineering-managers
.remarkrc                                               @hashgraph/platform-ci @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                             @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                              @hashgraph/platform-ci @hashgraph/release-engineering-managers
**/LICENSE                                              @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                          @hashgraph/platform-ci @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                           @hashgraph/platform-ci @hashgraph/release-engineering-managers
**/.gitignore.*                                         @hashgraph/platform-ci @hashgraph/release-engineering-managers
