services:
  record-streams-uploader:
    restart: "no"
    entrypoint:
      [
        "/bin/bash",
        "-c",
        "echo 'Deleting old recordStream files.';find /records/ -type f -delete;echo 'This container is intentionally disabled by the EVM profile.';"
      ]
    command: []

  account-balances-uploader:
    restart: "no"
    entrypoint:
      [
        "/bin/bash",
        "-c",
        "echo 'Deleting old accountBalances files.';find /balances/ -type f -delete;echo 'This container is intentionally disabled by the EVM profile.';"
      ]
    command: []

  record-sidecar-uploader:
    restart: "no"
    entrypoint:
      [
        "/bin/bash",
        "-c",
        "echo 'Deleting old sidecars files.';find /sidecar-files/ -type f -delete;echo 'This container is intentionally disabled by the EVM profile.';"
      ]
    command: []

  minio:
    restart: "no"
    entrypoint:
      [
        "echo",
        "This container is intentionally disabled by the EVM profile."
      ]
    command: []

  importer:
    user: root
    volumes:
      - "${NETWORK_NODE_LOGS_ROOT_PATH}/accountBalances/balance0.0.3:/node/streams/accountBalances/balance0.0.3"
      - "${NETWORK_NODE_LOGS_ROOT_PATH}/recordStreams/record0.0.3:/node/streams/recordstreams/record0.0.3"
